
/* Headers */
.headers{
     text-align: center;
     margin-top: 10px;
     margin-bottom: 20px;
}

/* Registration form */
.registirationForm {
    max-width: 650px; 
    margin: 40px auto; 
    padding: 30px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--lightbeigh0);
}

/* Health Declaration Button */
.healthDeclarationButton button {
    background-color: var(--button); 
    color: var(--lightbeigh0); 
    border: 1.4px solid var(--button); 
    border-radius: 4px;
}

.healthDeclarationButton button:hover {
      background-color: var(--lightlogo); 
    color:var(--button) 
}

/* Submit Button */
.submitButton {
    display: inline-block; 
    width: auto ; 
    background-color: var(--button) ; 
    color: var(--lightbeigh0); 
    border: 1.4px solid var(--button); 
    border-radius: 4px;
}

.submitButton:hover {
    background-color: var(--lightlogo); 
    color:var(--button)
}

/* Matching password : Green border and background */
.input-success {
    border: 2px solid #4CAF50 !important;
    background-color: #e8f5e9 !important;
}

/* Password does not match: Red border and background */
.input-error {
    border: 2px solid #f44336 !important;
    background-color: #ffebee !important;
}